[package]
name = "betterwx-ui"
version = "1.1.0"
description = "a wx tool"
authors = ["afaa1991"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
# The `_lib` suffix may seem redundant but it is necessary
# to make the lib name unique and wouldn't conflict with the bin name.
# This seems to be only an issue on Windows, see https://github.com/rust-lang/cargo/issues/8519
name = "betterwx_ui_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
serde = { version = "1", features = ["derive"] }
faster-hex = "0.10.0"
thiserror = "2.0.6"
regex = "1.11.1"
windows-registry = "0.3.0"
serde_json = "1.0.133"
tauri-plugin-dialog = "2"
winapi = { version = "0.3", features = ["winnt", "processthreadsapi", "securitybaseapi", "handleapi", "errhandlingapi"] }
tauri-plugin-process = "2"
tauri-plugin-http = "2"
