@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

html{
  font-size: 14px;
  user-select: none;
  overflow: hidden;
}

.my-border-color{
  border-color: color-mix(in srgb, var(--p-surface-200) calc(100%* var(--tw-border-opacity, 1)), transparent);
}